@import "variables"

.page {
  .note {
    margin-bottom: 15px;

    p:first-child {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }

  .note-icon::before {
    content: "";
    float: left;
    margin-right: 5px;
    position: relative;
  }

  .note-icon-large::before {
    height: 72px;
    width: 72px;
    background-size: 72px;
  }

  .note-icon-small::before {
    height: 24px;
    width: 24px;
    background-size: 24px;
  }

  .note-icon::after {
    content: "";
    display: block;
    clear: both;
  }

  .note-block {
    padding: 4px 12px;
    color: $font-color;
  }

  .note-ok {
    background-color: $note-ok-background;
  }

  .note-warning {
    background-color: $note-warning-background;
  }

  .note-error {
    background-color: $note-error-background;
  }

  .note-info {
    background-color: $note-info-background;
  }
}

